<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>번역기 데모</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
<div id="translation" style="width:1200px;" align="center">
    <div id="source" style="float:left">
        <span>한국어</span></br>
        <form method="post">
            <textarea placeholder="번역할 내용을 입력하세요." name="txtSource">{{input_sent}}</textarea>
            <p><input type="submit" name ="button" value = "번역하기"/></p>
        </form>
    </div>

    <div id="target" style="float:right">
        <span>영어</span></br>
       <textarea name="txtTarget">{{output_sent}}</textarea>
    </div>
</div>
</body>
</html>
